/* style.css */

body {
    font-family: 'Nanum Myeongjo', serif;
    margin: 0;
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: #e8e3ce;
    color: black;
    padding: 0.2rem;
}

h1 {
    font-family: 'Helvetica', Arial, sans-serif;
    margin: 0;
    font-weight: bold;
    font-size: 5em;

}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 4rem;
}

.section-description {
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.0rem;
    letter-spacing: 0.05rem;
    line-height: 1.4rem;
}

.section-description-anotaion {
    margin-left: 1rem;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    font-size: 0.6rem
    letter-spacing: 0.05rem;
    line-height: 1.2rem;
}

#search-form {
    display: flex;
    margin-bottom: 1rem;
}

#color-chooser {
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#color-chooser::-webkit-color-swatch-wrapper {
    padding: 0;
}

#color-chooser::-webkit-color-swatch {
    border: 2px solid #ccc;
    border-radius: 4px;
}

.search-inputs {
    display: flex;
    align-items: center;
    gap: 10px;
}

#search-input {
    flex-grow: 1;
    padding: 0.5rem;
}

.search-result-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    cursor: pointer;
}

.search-result-color {
    width: 150px;
    height: 50px;
    margin-right: 1rem;
    border: 1px solid #ccc;
  
}

.search-result-item:hover {
    background-color: #f5f5f5;
}

.search-result-info {
    display: flex;
    align-items: flex-start;
}

.search-result-info h3 {
    margin: 0;
}

#palette-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.palette-color {
  width: 3vw;
  height: 3vw;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  cursor: pointer;
  box-sizing: border-box;
}

.palette-color.selected {
  border: 2px solid #000;
}

.used-with-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 2px solid blue;
}

#palette-result {
  display: flex;
  flex-wrap: wrap;
  justify-content:  flex-start;
  margin-top: 1rem;
}

.palette-item {
  width: 4vw;
  height: 4vw;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  position: relative;
  cursor: pointer;
}


.palette-item:hover::before {
    content: "Delete";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 12px;
    border-radius: 4px;
}

.add-to-palette {
    background-color: #4a69bd;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

button {
    background-color: #4a69bd;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#color-graph {
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    margin-bottom: 2rem;
}

#color-catalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.color-item {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    background-color: var(--background-color);
    color: var(--text-color);
}

.color-swatch {
  width: 100%;
  height: 10vh;
  margin-bottom: 1rem;
}

footer {
    background-color: #f2f2f2;
    padding: 1rem;
    text-align: center;
}

/* Modal styles */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--modal-background-color);
    color: var(--modal-text-color);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}


.color-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-bottom: 10px;
}

.color-block {
    width: 100%;
    height: 30px;
    cursor: pointer;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* style.css */


:root {
    --background-color: white;
    --text-color: black;
    --primary-color: #4a69bd;
    --secondary-color: #f2f2f2;
    --modal-background-color: #fefefe;
    --modal-text-color: #333;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #121212;
        --text-color: white;
        --secondary-color: #1f1f1f;
        --modal-background-color: #333;
        --modal-text-color: #fefefe;
    }

    .search-result-item:hover {
        background-color: #333;
    }
}


#ryb-color-space {
    margin-bottom: 2rem;
  }
  
  #color-space {
    width: 100%;
    height: 400px;
    margin-bottom: 1rem;
  }
  
  #color-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #selected-color {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
  }
  


.notice {
    background-color: #f8d7da;
    color: #721c24;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    display: none;
}

.notice p {
    margin: 0;
    margin-bottom: 0.5rem;
}

